
  <footer class="footer pt-5 mt-5">
    <hr class="horizontal dark mb-5">
    <div class="container">
      <div class=" row">
        <div class="col-md-2 col-sm-6 col-6 mb-4" id="footer-items">
          <div>
            <h6 class="text-gradient text-primary text-sm">Help & Support</h6>
            <ul class="flex-column ms-n3 nav">
              <li class="nav-item">
                <a class="nav-link" href="/more_info.html#contact-form-info">
                  Contact Us
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/more_info.html">
                  FAQ
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-2 col-sm-6 col-6 mb-4 me-auto" id="footer-items">
          <div>
            <h6 class="text-gradient text-primary text-sm">Legal</h6>
            <ul class="flex-column ms-n3 nav">
              <li class="nav-item">
                <a class="nav-link" href="https://mit-license.org/" target="_blank">
                  Licenses (MIT)
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-12">
          <div class="text-center">
            <p class="my-4 text-sm">
              Cloud Pricing Analyzer by &nbsp;<a target="_blank" href="https://jammelyeboah.dev/" target="_blank">Jammel Yeboah</a> 
            </p>
          </div>
        </div>
      </div>
    </div>
  </footer>

